apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: auth-db
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: auth-db
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"