apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
spec:
  template:
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox:1.28
          command:
            [
              "sh",
              "-c",
              "until nc -zv order-db-service 5432; do echo waiting for db; sleep 2; done;",
            ]
      containers:
        - name: order
          image: ebadarshad/ecommerce-order:health
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m" 
              memory: "256Mi"
          ports:
            - containerPort: 5003
          startupProbe:
            httpGet:
              path: /healthz
              port: 5003
            failureThreshold: 15
            periodSeconds: 2
          readinessProbe:
            httpGet:
              path: /healthz
              port: 5003
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 5003
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
---

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: order-hpa
spec:
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 0 
      policies:
      - type: Pods
        value: 2
        periodSeconds: 45
      selectPolicy: Max
    scaleDown:
      stabilizationWindowSeconds: 60 
      policies:
      - type: Percent
        value: 100
        periodSeconds: 15
      selectPolicy: Max
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: order
  minReplicas: 1
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70