apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: auth-db
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: auth-db
          image: postgres:alpine3.19
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi" 
            limits:
              cpu: "200m" 
              memory: "256Mi"