apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  project: grafana-project
  source:
    targetRevision: 81.3.1
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    helm:
      valuesObject:
        kubeStateMetrics:
          enabled: true
        nodeExporter:
          enabled: true
        grafana:
          enabled: true
          defaultDashboardsTimezone: PKT
          adminUser: admin
          adminPassword: prom-operator
          ingress:
            enabled: true
            ingressClassName: nginx
            hosts:
              - grafana.local
            path: /

          additionalDataSources:
              - name: Tempo
                type: tempo
                uid: tempo
                url: http://tempo:3200
                access: proxy
              - name: Loki
                type: loki
                uid: loki
                url: http://loki-gateway:80
                access: proxy
                jsonData:
                  derivedFields:
                    - datasourceUid: tempo
                      matcherRegex: "trace_id=(\\w+)"
                      name: TraceID
                      url: "$${__value.raw}"
        
        prometheus:
          prometheusSpec:
            scrapeInterval: 15s
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
