apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  labels:
    app: auth
spec:

  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: auth
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  template:
    metadata:
      labels:
        app: auth
    spec:
      initContainers:
      - name: wait-for-db
        image: busybox:1.28
        command:
          [
            "sh",
            "-c",
            "until nc -zv dev-auth-db-service 5432; do echo waiting for db; sleep 2; done;",
          ]
      containers:
        - name: auth
          image: ebadarshad/ecommerce-auth
          ports:
            - containerPort: 5001

          livenessProbe:
            tcpSocket:
              port: 5001
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 5001
            initialDelaySeconds: 15
            periodSeconds: 10

          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false

          envFrom:
            - secretRef:
                name: auth-secret
