apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rabbitmq
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3-management-alpine
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi" 
            limits:
              cpu: "500m" 
              memory: "512Mi"
          readinessProbe:
            exec:
              command: ["rabbitmq-diagnostics", "-q", "check_port_connectivity"]
            initialDelaySeconds: 40 
            periodSeconds: 10
            timeoutSeconds: 5 
          livenessProbe:
            exec:
              command: ["rabbitmq-diagnostics", "-q", "check_port_connectivity"]
            initialDelaySeconds: 60 
            periodSeconds: 20
            timeoutSeconds: 5 