apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: api-gateway
          image: ebadarshad/ecommerce-api-gateway:health
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi" 
            limits:
              cpu: "200m" 
              memory: "256Mi"