apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: order-db
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: order-db
          image: postgres:alpine3.19
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"