apiVersion: apps/v1
kind: Rollout
metadata:
  name: api-gateway
  labels:
    app: api-gateway
spec:
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: api-gateway
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
      
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - k3d-cluster-agent-0
                - k3d-cluster-agent-1
      containers:
        - name: api-gateway
          image: ebadarshad/ecommerce-api-gateway


          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
          envFrom:
            - secretRef:
                name: api-gateway-secret