apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: api-gateway
  labels:
    app: api-gateway
spec:
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - k3d-cluster-agent-0
                - k3d-cluster-agent-1
      containers:
        - name: api-gateway
          image: ebadarshad/ecommerce-api-gateway
          env:
          - name: APP_VERSION
            value: "v3.0.0"
          - name: AUTH_URL
            value: http://auth-service:5001
          - name: PRODUCT_URL
            value: http://product-service:5002
          - name: ORDER_URL
            value: http://order-service:5003
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
