apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
        - pathType: Prefix
          backend:
            service:
              name: api-gateway-service
              port:
                number: 5000
          path: /