apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
  labels:
    app: order
spec:
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: order

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
        - name: order
          image: ebadarshad/ecommerce-order
          ports:
            - containerPort: 5003

          livenessProbe:
            tcpSocket:
              port: 5003
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 5003
            initialDelaySeconds: 15
            periodSeconds: 10

          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false

          envFrom:
            - secretRef:
                name: order-secret
