apiVersion: apps/v1
kind: Deployment
metadata:
  name: product
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: product
          image: ebadarshad/ecommerce-product:1.0.87
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
