apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  project: grafana-project
  sources:
    - repoURL: https://grafana.github.io/helm-charts
      chart: loki
      targetRevision: 6.*
      helm:
        valuesObject:
          deploymentMode: SingleBinary
          loki:
            auth_enabled: false
            commonConfig:
              replication_factor: 1
            storage:
              type: filesystem
            schemaConfig:
              configs:
                - from: "2024-04-01"
                  store: tsdb
                  object_store: filesystem
                  schema: v13
                  index:
                    prefix: loki_index_
                    period: 24h
            pattern_ingester: { enabled: true }
            limits_config:
              allow_structured_metadata: true
              volume_enabled: true
              retention_period: 168h
            ruler: { enable_api: true }
          singleBinary:
            replicas: 1
            persistence:
              enabled: true
              storageClass: local-path
              size: 10Gi
          backend: { replicas: 0 }
          read: { replicas: 0 }
          write: { replicas: 0 }
          ingester: { replicas: 0 }
          querier: { replicas: 0 }
          queryFrontend: { replicas: 0 }
          queryScheduler: { replicas: 0 }
          distributor: { replicas: 0 }
          compactor: { replicas: 0 }
          indexGateway: { replicas: 0 }
          bloomCompactor: { replicas: 0 }
          bloomGateway: { replicas: 0 }
          minio: { enabled: false }
          lokiCanary: { enabled: false }
          test: { enabled: false }
          gateway: { enabled: true }

    - repoURL: https://grafana.github.io/helm-charts
      chart: promtail
      targetRevision: 6.*
      helm:
        valuesObject:
          config:
            clients:
              - url: http://loki-gateway.monitoring.svc.cluster.local:80/loki/api/v1/push
          pipelineStages:
            - docker: {}
            - json:
                expressions:
                  level: level
                  msg: message

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true