apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: api-gateway
          image: ebadarshad/ecommerce-api-gateway:health
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi" 
            limits:
              cpu: "200m" 
              memory: "256Mi"
---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
        - path: /prod(/|$)(.*)
          pathType: ImplementationSpecific
          backend:
            service:
              name: api-gateway-service
              port:
                number: 5000