apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: api-gateway
          env:
            - name: AUTH_URL
              value: "http://prod-auth-service:5001"
            - name: PRODUCT_URL
              value: "http://prod-product-service:5002"
            - name: ORDER_URL
              value: "http://prod-order-service:5003"
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"