apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: order
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"